USE [master]
GO
/****** Object:  Database [DigitalDevice]    Script Date: 2/28/2025 10:57:05 AM ******/
CREATE DATABASE [DigitalDevice]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DigitalDevice', FILENAME = N'E:\ki 2\Project_App\DigitalDevice\DigitalDevice.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DigitalDevice_log', FILENAME = N'E:\ki 2\Project_App\DigitalDevice\DigitalDevice_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DigitalDevice].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DigitalDevice]
GO
/****** Object:  Table [dbo].[Authority]    Script Date: 2/28/2025 10:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authority](
	[AuthorityID] [varchar](50) NOT NULL,
	[NameAuthority] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthorityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryDevice]    Script Date: 2/28/2025 10:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryDevice](
	[CategoryDeviceID] [varchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[PhotoPath] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryDeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Device]    Script Date: 2/28/2025 10:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device](
	[DeviceID] [varchar](50) NOT NULL,
	[RoomID] [varchar](50) NULL,
	[NameDevice] [nvarchar](100) NOT NULL,
	[PhotoPath] [nvarchar](255) NULL,
	[CategoryDeviceID] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceFunction]    Script Date: 2/28/2025 10:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceFunction](
	[DeviceFunctionID] [varchar](50) NOT NULL,
	[DeviceID] [varchar](50) NULL,
	[FunctionID] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeviceFunctionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceFunctionality]    Script Date: 2/28/2025 10:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceFunctionality](
	[FunctionID] [varchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[FunctionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[History]    Script Date: 2/28/2025 10:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[HistoryID] [varchar](50) NOT NULL,
	[Action] [nvarchar](255) NULL,
	[Time] [datetime] NOT NULL,
	[UserID] [varchar](50) NULL,
	[DeviceID] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Home]    Script Date: 2/28/2025 10:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Home](
	[HomeID] [varchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[PhotoPath] [nvarchar](255) NULL,
	[UrlMQTT] [nvarchar](255) NULL,
	[UserMQTT] [nvarchar](100) NULL,
	[PasswordMQTT] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[HomeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomeUser]    Script Date: 2/28/2025 10:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeUser](
	[HomeUserID] [varchar](50) NOT NULL,
	[UserID] [varchar](50) NULL,
	[HomeID] [varchar](50) NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[HomeUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 2/28/2025 10:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomID] [varchar](50) NOT NULL,
	[HomeID] [varchar](50) NULL,
	[Name] [nvarchar](100) NOT NULL,
	[PhotoPath] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Authority]    Script Date: 2/28/2025 10:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Authority](
	[User_AuthorityID] [varchar](50) NOT NULL,
	[UserID] [varchar](50) NULL,
	[AuthorityID] [varchar](50) NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[User_AuthorityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/28/2025 10:57:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [varchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[PhotoPath] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CategoryDevice] ([CategoryDeviceID], [Description], [PhotoPath]) VALUES (N'cat_aircon', N'Cooling and air conditioning systems.', N'/images/category_aircon.jpg')
INSERT [dbo].[CategoryDevice] ([CategoryDeviceID], [Description], [PhotoPath]) VALUES (N'cat_device', N'Miscellaneous smart home devices.', N'/images/category_device.jpg')
INSERT [dbo].[CategoryDevice] ([CategoryDeviceID], [Description], [PhotoPath]) VALUES (N'cat_lamp', N'Lighting devices such as LED and smart lamps.', N'/images/category_lamp.jpg')
GO
INSERT [dbo].[Device] ([DeviceID], [RoomID], [NameDevice], [PhotoPath], [CategoryDeviceID]) VALUES (N'd_001', N'r_001', N'Lamp - 1 ', NULL, N'cat_lamp')
INSERT [dbo].[Device] ([DeviceID], [RoomID], [NameDevice], [PhotoPath], [CategoryDeviceID]) VALUES (N'd_002', N'r_002', N'Lamp - 1', NULL, N'cat_lamp')
INSERT [dbo].[Device] ([DeviceID], [RoomID], [NameDevice], [PhotoPath], [CategoryDeviceID]) VALUES (N'd_003', N'r_003', N'Lamp - 1', NULL, N'cat_lamp')
GO
INSERT [dbo].[DeviceFunction] ([DeviceFunctionID], [DeviceID], [FunctionID]) VALUES (N'df_001', N'd_001', N'F_Lamp')
INSERT [dbo].[DeviceFunction] ([DeviceFunctionID], [DeviceID], [FunctionID]) VALUES (N'df_002', N'd_002', N'F_Lamp')
INSERT [dbo].[DeviceFunction] ([DeviceFunctionID], [DeviceID], [FunctionID]) VALUES (N'df_003', N'd_003', N'F_Lamp')
GO
INSERT [dbo].[DeviceFunctionality] ([FunctionID], [Description]) VALUES (N'F_Air', N'Air conditioner')
INSERT [dbo].[DeviceFunctionality] ([FunctionID], [Description]) VALUES (N'F_Different', N'Different Device')
INSERT [dbo].[DeviceFunctionality] ([FunctionID], [Description]) VALUES (N'F_lamp', N'Turn On/Off Lamp')
GO
INSERT [dbo].[Home] ([HomeID], [Name], [Address], [PhotoPath], [UrlMQTT], [UserMQTT], [PasswordMQTT]) VALUES (N'h_41924871', N'Nhà Của Dũng', N'Lạng Giang , Bắc Giang', NULL, N'bbb04b2c528242358401e2add20b296a.s1.eu.hivemq.cloud', N'hivemq.webclient.1734466985272', N'3#2NHU;F.GRih5s6tqe&')
INSERT [dbo].[Home] ([HomeID], [Name], [Address], [PhotoPath], [UrlMQTT], [UserMQTT], [PasswordMQTT]) VALUES (N'h_41943842', N'Nhà Minh', N'Hoàng Quốc Việt, Cầu Giấy', NULL, N'bbb04b2c528242358401e2add20b296a.s1.eu.hivemq.cloud', N'NULhivemq.webclient.1734466985272L', N'3#2NHU;F.GRih5s6tqe&')
INSERT [dbo].[Home] ([HomeID], [Name], [Address], [PhotoPath], [UrlMQTT], [UserMQTT], [PasswordMQTT]) VALUES (N'h_41943843', N'Vila Hiền', N'Cầu Giấy, Hà Nội', NULL, N'bbb04b2c528242358401e2add20b296a.s1.eu.hivemq.cloud', N'NULhivemq.webclient.1734466985272L', N'3#2NHU;F.GRih5s6tqe&')
GO
INSERT [dbo].[HomeUser] ([HomeUserID], [UserID], [HomeID], [Description]) VALUES (N'HU_MSSDAD', N'UAMUPFJRB', N'h_41943852', NULL)
INSERT [dbo].[HomeUser] ([HomeUserID], [UserID], [HomeID], [Description]) VALUES (N'HU_MSSDDC', N'UAMUPFJRB', N'h_41943843', NULL)
INSERT [dbo].[HomeUser] ([HomeUserID], [UserID], [HomeID], [Description]) VALUES (N'HU_MUPFDDC', N'UAMUPFJRB', N'h_41943842', NULL)
GO
INSERT [dbo].[Room] ([RoomID], [HomeID], [Name], [PhotoPath]) VALUES (N'r_000', N'h_41924871', N'Vehicle', NULL)
INSERT [dbo].[Room] ([RoomID], [HomeID], [Name], [PhotoPath]) VALUES (N'r_001', N'h_41924871', N'LivingRoom', N'/images/icon_livingroom.png')
INSERT [dbo].[Room] ([RoomID], [HomeID], [Name], [PhotoPath]) VALUES (N'r_002', N'h_41924871', N'BadRoom', N'/images/icon_badroom.png')
GO
INSERT [dbo].[Users] ([UserID], [Name], [Password], [Phone], [PhotoPath]) VALUES (N'U1', N'John Doe', N'password123', N'0912345678', N'photos/johndoe.jpg')
INSERT [dbo].[Users] ([UserID], [Name], [Password], [Phone], [PhotoPath]) VALUES (N'U2', N'Jane Smith', N'mypassword', N'0987654321', N'photos/janesmith.jpg')
INSERT [dbo].[Users] ([UserID], [Name], [Password], [Phone], [PhotoPath]) VALUES (N'U3', N'Alice Brown', N'alice123', N'0922334455', N'photos/alicebrown.jpg')
GO
ALTER TABLE [dbo].[Device]  WITH CHECK ADD FOREIGN KEY([CategoryDeviceID])
REFERENCES [dbo].[CategoryDevice] ([CategoryDeviceID])
GO
ALTER TABLE [dbo].[Device]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[DeviceFunction]  WITH CHECK ADD FOREIGN KEY([DeviceID])
REFERENCES [dbo].[Device] ([DeviceID])
GO
ALTER TABLE [dbo].[DeviceFunction]  WITH CHECK ADD FOREIGN KEY([FunctionID])
REFERENCES [dbo].[DeviceFunctionality] ([FunctionID])
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD FOREIGN KEY([DeviceID])
REFERENCES [dbo].[Device] ([DeviceID])
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[HomeUser]  WITH CHECK ADD FOREIGN KEY([HomeID])
REFERENCES [dbo].[Home] ([HomeID])
GO
ALTER TABLE [dbo].[HomeUser]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD FOREIGN KEY([HomeID])
REFERENCES [dbo].[Home] ([HomeID])
GO
ALTER TABLE [dbo].[User_Authority]  WITH CHECK ADD FOREIGN KEY([AuthorityID])
REFERENCES [dbo].[Authority] ([AuthorityID])
GO
ALTER TABLE [dbo].[User_Authority]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
USE [master]
GO
