# Visual Studio
.vs/
*.user
*.suo

# Build results
DigitalDeivice/bin/
DigitalDeivice/obj/

# Cache
*.cache
*.vsidx

# NuGet
*.nupkg
project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets
*.dgspec.json
project.nuget.cache
